<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AccessKey" value="YOUR_ACCESS_KEY"/>
    <add key="SecretKey" value="YOUR_SECRET_KEY"/>
    <add key="AppName" value="YOUR_APP_NAME"/>
    <add key="AppVersion" value="YOUR_APP_VERSION"/>
    <add key="ServiceURL" value="https://mws.amazonservices.com"/>
    <add key="SellerId" value="YOUR_SELLET_ID"/>
    <add key="MWSAuthToken" value="YOUR_MWS_AUTHTOKEN"/>
    <add key="MarketplaceId" value="YOUR_MARKETPLACE_ID"/>
    <add key="Merchant" value="YOUR_MERCHANT_KEY"/>

    <add key="APP_NAME" value="YOUR_APP_NAME"/>
    <add key="APP_VERSION" value="YOUR_APP_VERSION"/>
    <add key="SERVICE_URL" value="YOUR_SERVICE_URL"/>
    <add key="USER_AGENT" value="YOUR_USER_AGENT"/>
  </appSettings>
</configuration>