<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AccessKey" value="YOUR_ACCESS_KEY"/>
    <add key="SecretKey" value="YOUR_SECRET_KEY"/>
    <add key="AppName" value="CSharpAmazonCodes"/>
    <add key="AppVersion" value="1.0"/>
    <add key="ServiceURL" value="https://mws.amazonservices.com"/>
    <add key="SellerId" value="YOUR_SELLERID"/>
    <add key="MWSAuthToken" value="YOUR_MWS_AUTH_TOKEN"/>
    <add key="MarketplaceId" value="YOUR_MARKETPLACE_ID"/>
  </appSettings>
</configuration>