<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppID" value="YOUR APP ID" />
    <add key="DevID" value="YOUR DEV ID" />
    <add key="CertID" value="YOUR CERT ID" />
    <add key="Version" value="1021" />
    <add key="EbayAuthToken" value="YOUR EBAY AUTH TOKEN" />
    <add key="EndPoint" value="https://api.ebay.com/wsapi" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="eBayAPISoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="eBayAPISoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.ebay.com/wsapi" binding="basicHttpBinding"
                bindingConfiguration="eBayAPISoapBinding" contract="EbayWSDL.eBayAPIInterface"
                name="eBayAPI" />
        </client>
    </system.serviceModel>
</configuration>